# ─────────────────────────────────────────────
# 🛑 Next.js (accidental builds)
# ─────────────────────────────────────────────
.next/

# ─────────────────────────────────────────────
# 🛑 Environment configs
# ─────────────────────────────────────────────
repositories/*/.env
repositories/core/keys/*
repositories/chatgpt-oauth/keys/*
.env
.env*.local

repositories/n8n/SystemPrompt.md

# ─────────────────────────────────────────────
# 🔧 Node.js (modules and build)
# ─────────────────────────────────────────────
**/node_modules
**/dist

# ─────────────────────────────────────────────
# 📦 Logs
# ─────────────────────────────────────────────
*.log
logs/

# ─────────────────────────────────────────────
# 💻 IDEs
# ─────────────────────────────────────────────
.vscode/
.idea/

# ─────────────────────────────────────────────
# 🧾 System's files
# ─────────────────────────────────────────────
.DS_Store
Thumbs.db

# ─────────────────────────────────────────────
# 🔐 Certificates SSL (Let's Encrypt - Traefik)
# ─────────────────────────────────────────────
traefik/acme.json

# Ignorar los datos de Odoo
/repositories/odoo/odoo.conf

# Odoo addons con repo propio (público)
repositories/odoo/addons/l10n_ar_arca_edi/
repositories/odoo/addons/appointment_management/

# Ignorar los datos de Rust
**/target
**/dist
**/node_modules
repositories/odoo/odoo_data/
**/*.crt
