# ────────────────
# 🌍 Environment
# ────────────────
NODE_ENV=development
PORT=8000

# ────────────────
# 📡 Core Service URL
# ────────────────
API_ORIGIN=http://localhost:8000        # Public URL of the backend (e.g. https://core.leonobitech.com)
APP_ORIGIN=http://localhost:3000        # Origin of the frontend (e.g. https://www.leonobitech.com)

# ────────────────
# 🔐 CORS Configuration
# ────────────────
CORS_ORIGINS=http://localhost:3000,http://localhost:3001        # Comma-separated list of allowed origins (e.g. https://leonobitech.com,https://www.leonobitech.com)

# ────────────────
# 🔐 JWT Configuration
# ────────────────
JWT_SECRET=your_jwt_secret_here
JWT_REFRESH_SECRET=your_refresh_secret_here
JWT_AUDIENCE=domain
JWT_ISSUER=domain.com

# ────────────────
# 🧬 Device Fingerprint
# ────────────────
CLIENT_KEY_SECRET=your_client_key_secret_here

# ────────────────
# 🛢️ MongoDB
# ────────────────
DATABASE_URL=mongodb+srv://<user>:<password>@<cluster>.mongodb.net/<db_name>

# ────────────────
# 📬 Email & Resend API
# ────────────────
EMAIL_SENDER=sender@example.com
RESEND_API_KEY=your_resend_api_key_here

# ────────────────
# 📦 Redis
# ────────────────
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD=supersecretpassword123
REDIS_DB=2
